
@model Skoruba.IdentityServer4.STS.Identity.ViewModels.Account.LoginViewModel

<div class="login-page">
  <div class="page-header">
    <h1>请选择企业</h1>
  </div>


  <div class="row">


    <div class="col-sm-6">
      <div class="card mt-3">
        <h5 class="card-header"></h5>
        <div class="card-body">
          <form asp-route="Login">
            <input type="hidden" asp-for="ReturnUrl" />

            <fieldset>
              <button class="btn btn-primary" name="button" value="csscii">中船工业互联网有限公司</button>
              <button type="button" class="list-group-item" name="button" value="cssc">中船黄埔文冲船舶有限公司</button>=
            </fieldset>
          </form>
        </div>
      </div>
    </div>
    }


  </div>
</div>